<div id='caltrain_view'>
  <div id='select_caltrain_view'></div>
    <div id='caltrain_list_view'></div>
</div>

<div id='muni_list_view'></div>
<div id='muni_sorted_list_view'></div>
<!-- consider importing the grid component and using l-row -->
<div id='twitter_view'>
  {{> twitter}}
</div>
