{{#unless this}}
There are no times available for this destination!
{{else}}
<div class='row caltrain-list-header'>
  <div class='col-lg-3'>Departes SF</div>
  <div class='col-lg-3'>Arrives</div>
  <div class='col-lg-3'>Type</div>
  <div class='col-lg-3'>Length</div>
</div>
{{/unless}}
