<table class='muni-prediction-table'>
    <thead>
        <tr>
            <th class='muni-prediction-muni-col'>Muni</th>
            <th class='muni-prediction-arrival-time-col'>Arrives @Caltrain</th>
            <th class='muni-prediction-departure-time-col'>Departs In</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr>
            <td>{{id}}</td>
            <td>{{formatDate arrivalTime 'hh:mm A'}}</td>
            <td>
                <span class='muni-prediction-departure-minutes'>{{departureMinutes}} min.</span>
                <span class='muni-prediction-departure-time'>&nbsp;&nbsp;{{formatDate departureTime 'hh:mm A'}} </span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
