{{#if predictions}}
{{#if departureTime}}
<p>Muni options sorted by trip time.</p>
{{/if}}
<table class='muni-prediction-table'>
    <thead>
        <tr>
            <th class='muni-prediction-muni-col'>Muni</th>
            <th class='muni-prediction-departure-time-col'>Departs In</th>
            <th class='muni-prediction-arrival-time-col'>Arrives @Caltrain</th>
        </tr>
    </thead>
    <tbody>
        {{#each predictions}}
        <tr>
            <td>{{id}}</td>
            <td>{{departureMinutes}} min.</td>
            <td>{{formatDate arrivalTime 'hh:mm A'}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>Sorry, no muni options available to make this train.</p>
{{/if}}

