$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

#app_container {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 768px;
    padding: 20px;
}

#caltrain_view {
    float: left;
    width: 50%;
}

#select_caltrain_view {
    margin-bottom:20px;
}
.caltrain-row {
    height: 30px;
    line-height: 30px;
    padding: 5px 0;
}

.caltrain-row:hover {
    background-color: #D5D5D5;
}

.caltrain-row.is-active {
    background-color:#D5D5D5;
}

#muni_list_view {
    float: right;
    width: 50%;
}

.muni-row {
    margin-bottom: 20px;
}

.muni-route-heading {
    font-weight: bold;
}

.muni-prediction-departure-time {
    font-size: .9em;
    font-style: italic;
}

.muni-prediction-table{
    width: 100%;
}

.muni-prediction-table-unreachable {
    color: red;
}

.muni-prediction-arrival-time-col {
    width: 30%;
}

.muni-prediction-departure-time-col {
    width: 70%;
}


#twitter_view {
    margin-top: 20px;
}

.italic {
    font-style: italic;
}

.is-optimal {
    background-color: green;
}

//TODO: Rename me!
.color-red {
    color: red;
}
