$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

#app_container {
    margin: 0 auto;
    max-width: 768px;
    min-width: 480px;
    padding: 20px;
}

#caltrain_view {
    float: left;
    width: 50%;
}

#select_caltrain_view {
    margin-bottom:20px;
}

#muni_list_view {
    float: right;
    width: 50%;
}

.muni-row {
    margin-bottom: 20px;
}

.muni-route-heading {
    font-weight: bold;
}

.muni-prediction-departure-minutes {
    font-size: .9em;
    font-style: italic;
}

.muni-prediction-table{
    width: 100%;
}

.muni-prediction-arrival-time-col {
    width: 40%;
}

.muni-prediction-departure-time-col {
    width: 60%;
}

#twitter_view {
    margin-top: 20px;
}

.italic {
    font-style: italic;
}

