$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$grey: #E5E5E5;
$light-grey: #F5F5F5;

#app_container {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 768px;
    padding: 20px;
}

#caltrain_view {
    float: left;
    width: 70%;
}
#caltrain_list_view {
    height: 110px;
    overflow-y: scroll;
    border: 1px solid $grey;
    margin-bottom: 20px;
    padding: 10px 0;
}

#select_caltrain_view {
    margin-bottom:20px;
}
.caltrain-row {
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
    vertical-align: middle;
    cursor: pointer;
}

.caltrain-row:hover {
    background-color: $light-grey;
}

.caltrain-row.is-active {
    background-color: $grey;
}

#muni_list_container{
    position: relative;
}

#muni_list_view,
#muni_sorted_list_view {
    position: absolute;
    border: 1px solid $grey;
    padding: 20px;
    width: 100%;
}

#muni_list_view {
    display: none;
}

.muni-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;
    &:last-child{
        border-bottom: none;
    }
}

.muni-route-heading {
    font-weight: bold;
}

.muni-prediction-departure-time {
    font-size: .9em;
    font-style: italic;
}

.muni-prediction-table{
    width: 100%;
}

.muni-prediction-table-unreachable {
    color: red;
}

.muni-prediction-muni-col {
    width: 20%;
}

.muni-prediction-arrival-time-col {
    width: 30%;
}

.muni-prediction-departure-time-col {
    width: 50%;
}

#twitter_view {
    padding-left: 40px;
    float: right;
    width: 30%;
}

.italic {
    font-style: italic;
}

.is-optimal {
    color: #00d912;
}

//TODO: Rename me!
.color-red {
    color: #ff4040;
}

.color-grey {
    color: #EEE !important;
}
